<section class="first-section">
  <div class="home-page">
    <div>
      <h1>I'm a <span class="primary">web designer</span> and <span class="primary">full-stack web developer</span></h1>
      <p class="gray mt-3">He crafts responsive websites where technologies meet creativity</p>
      <br>
      <a href="" class="btn ">Contact me!!</a>
    </div>

    <div class="img">
      <img src="/assets/home.png" class="img-fluid" alt="">
      <div class="currently-part">
        <span class="cube"></span><a class="" href="#">Currently working on PORTFOLIO</a>
      </div>
    </div>
  </div>
  <img class="rectengle" src="assets/rectengle-r.png" alt="">
</section>
<section class="intermediate-section">
  <div><img class="img-fluid" src="assets/quote.png" alt=""></div>
</section>
<img class="rectengle-l" src="assets/rectengle-l.png" alt="">
<img class="frame-r" src="assets/frame.png" alt="">


<section class="second-section">
  <h2 class=""><span class="primary">#</span>last-projects <img class="img-fluid" src="assets/line-primary.png" alt="">
    <a href="#">View All ~~></a>
  </h2>
  <div class="projects">
    <div class="card" style="width: 18rem;">
      <img src="/assets/project-image.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="title">
          <h6 class="card-title">Card title</h6>
        </div>
        <div class="title">
          <h5>Project Name</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="buttons">
            <a href="#" class="btn btn-primary live">Live <~></a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card" style="width: 18rem;">
      <img src="/assets/project-image.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="title">
          <h6 class="card-title">Card title</h6>
        </div>
        <div class="title">
          <h5>Project Name</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="buttons">
            <a href="#" class="btn btn-primary live">Live <~></a>
          </div>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/project-image.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="title">
          <h6 class="card-title">Card title</h6>
        </div>
        <div class="title">
          <h5>Project Name</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="buttons">
            <a href="#" class="btn btn-primary live">Live <~></a>
            <a href="#" class="btn btn-primary github">Github <~></a>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</section>
<img class="frame" src="assets/frame.png" alt="">