<section>
    <div class="header">
        <h1><span class="primary">/</span>projects</h1>
        <p class="gray">List of my projects</p>
    </div>
    <div class="complate-apps">
        <div class="d-flex">
            <h2><span class="primary">#</span>complate-apps</h2><img src="assets/line-primary.png" alt="">
        </div>
        <div class="projects">
            <div class="card" style="width: 18rem;" *ngFor="let project of recentProjects">
                <img [src]="project.imageLink || '/assets/project-image.jpg'" class="card-img-top" alt="Project Image">
                <div class="card-body">
                    <div class="title">
                        <h6 class="card-title">{{ project.cardTitle }}</h6>
                    </div>
                    <div class="title">
                        <h5>{{ project.projectName }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <div class="buttons">
                            <a *ngIf="project.liveLink" href="{{ project.liveLink }}" class="btn btn-primary live">Live
                                <~>
                            </a>
                            <a *ngIf="project.githubLink" href="{{ project.githubLink }}"
                                class="btn btn-primary github">Github <~></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <h2><span class="primary">#</span>small-projects</h2><img src="assets/line-primary.png" alt="">
        </div>
        <div class="projects">
            <div *ngFor="let project of smallProjects" class="card">
                <div class="card-body">
                    <div class="title">
                        <h6 class="card-title">{{ project.cardTitle }}</h6>
                    </div>
                    <div class="title">
                        <h5>{{ project.projectName }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <div class="buttons">
                            <!-- Conditional display of GitHub link if it exists -->
                            <a *ngIf="project.githubLink" href="{{ project.githubLink }}"
                                class="btn btn-secondary github" target="_blank">Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>