<section>
    <div class="header">
        <h1><span class="primary">/</span>contact-me</h1>
        <p class="gray">Contact information!</p>
    </div>
    <div class="contact">
        <div class="contact-text">
            <p>Feel free to reach out if you'd like to connect, have any questions about my work, or are interested in
                potential collaborations. Looking to discuss software
                development trends, or simply want to network, I'm always open to engaging conversations and new
                opportunities.
            </p>
        </div>

        <div class="contact-box-box">
            <div class="contact-box">
                <h6><span class="primary">#</span>message-me-here</h6>
                <div class="contact-option">
                    <img src="/assets/email.png" alt="email">
                    <h4><a style="color: whitesmoke; text-decoration: none; margin-left: 7px;"
                            href="mailto:ulasisbl@gmail.com">ulasisbl&#64;gmail.com</a></h4>
                </div>
            </div>
            <div class="contact-box">
                <h6><span class="primary">#</span>message-me-here</h6>
                <div class="contact-option">
                    <img src="/assets/linkedin.png" alt="LinkedIn">
                    <h4 style="width: -webkit-fill-available;"><a
                            style="color: whitesmoke; text-decoration: none; margin-left: 7px;"
                            href="https://www.linkedin.com/in/ula%C5%9F-i%C5%9Fibol-39220a270/" target="_blank">Ulaş
                            İşibol</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>


    <div class="d-flex section-interrupt">
        <h2><span class="primary">#</span>all-media</h2>
    </div>

    <div class="all-media d-flex mt-5">
        <a style="margin-right: 4rem !important;" href="mailto:ulasisbl@gmail.com" class="d-flex m-2"><img
                style="margin-right: 10px;" src="assets/github.png" alt="12">
            <h5>Github</h5>
        </a>
        <a href="https://www.linkedin.com/in/ula%C5%9F-i%C5%9Fibol-39220a270/" class="d-flex m-2"><img
                style="margin-right: 10px;" src="assets/linkedin.png" alt="12">
            <h5>linkedln</h5>
        </a>
    </div>
</section>
<img class="b-rectengle" src="assets/big-rectengle.png" alt="">
<img class="rectengle" src="assets/rectengle-l.png" alt="">