<section>
    <div class="header">
        <h1><span class="primary">/</span>about-me</h1>
        <p class="gray">Who am i?</p>
    </div>
    <div class="about-me d-flex">
        <div class="about-me-text">
            <h5>Hello I'm Ulas</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dicta voluptates obcaecati natus velit
                nihil nemo
                distinctio laborum, ipsa veritatis omnis ex porro culpa nisi harum magni saepe odio, dolores animi
                aliquid
                !</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dicta voluptates obcaecati natus velit
                nihil nemo
                distinctio laborum, ipsa veritatis omnis ex porro culpa nisi harum magni saepe odio, dolores animi
                aliquid
                !
            </p>
        </div>
        <!-- br -->
        <div class="about-me-img">
            <img class="about-me-image" src="../assets/about-me.png" alt="">
        </div>
    </div>
    <div class="d-flex section-interrupt">
        <h2><span class="primary">#</span>skills</h2><img class="img-fluid" src="assets/line-primary.png" alt="">
    </div>
    <div class="skills-body">
        <div class="skills-boxes">
            <div>
                <div class="card">
                    <div class="card-body">
                        <div class="title">
                            <h6 class="card-title">Languages</h6>
                        </div>
                        <div class="title">
                            <p class="card-text skills-text">HTML, CSS, JS, BOOTSTRAP, JAVA, SPRİNG-BOOT, ANGULAR, REACT
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="card-body">
                        <div class="title">
                            <h6 class="card-title">Languages</h6>
                        </div>
                        <div class="title">
                            <p class="card-text skills-text">HTML, CSS, JS, BOOTSTRAP, JAVA, SPRİNG-BOOT, ANGULAR, REACT
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="card-body">
                        <div class="title">
                            <h6 class="card-title">Languages</h6>
                        </div>
                        <div class="title">
                            <p class="card-text skills-text">HTML, CSS, JS, BOOTSTRAP, JAVA, SPRİNG-BOOT, ANGULAR,
                                REACT,CSS, JS,
                                BOOTSTRAP, JAVA, SPRİNG-BOOT, ANGULAR, REACT</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="card-body">
                        <div class="title">
                            <h6 class="card-title">Languages</h6>
                        </div>
                        <div class="title">
                            <p class="card-text skills-text">HTML, CSS, JS, BOOTSTRAP, JAVA, SPRİNG-BOOT, ANGULAR, REACT
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="card-body">
                        <div class="title">
                            <h6 class="card-title">Languages</h6>
                        </div>
                        <div class="title">
                            <p class="card-text skills-text">HTML, CSS, JS, BOOTSTRAP, JAVA, SPRİNG-BOOT, ANGULAR, REACT
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex section-interrupt">
        <h2><span class="primary">#</span>my-fun-facts</h2><img class="img-fluid" src="assets/line-primary.png" alt="">
    </div>
    <div class="skills-body">
        <div class="skills-boxes">
            <div>
                <div class="card">
                    <div class="title">
                        <h6 class="card-title gray">LanguagesLanguages</h6>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="title">
                        <h6 class="card-title gray">Languages</h6>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="title">
                        <h6 class="card-title gray">Languages</h6>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="title">
                        <h6 class="card-title gray">Languages</h6>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="title">
                        <h6 class="card-title gray">Languages</h6>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="title">
                        <h6 class="card-title gray">Languages</h6>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="title">
                        <h6 class="card-title gray">Languages</h6>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="title">
                        <h6 class="card-title gray">Languages</h6>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="title">
                        <h6 class="card-title gray">Languages</h6>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="title">
                        <h6 class="card-title gray">Languages</h6>
                    </div>
                </div>
            </div>
        </div>
        <img src="../assets/about-me-grp.png" alt="">
    </div>
</section>
<img class="rectengle" src="assets/rectengle-r.png" alt="">
<img class="rectengle-2" src="assets/rectengle-l.png" alt="">
<img class="rectengle-3" src="assets/frame.png" alt="">
<img class="rectengle-4" src="assets/frame.png" alt="">
<img class="rectengle-5" src="assets/rectengle-r.png" alt="">
<img class="rectengle-6" src="assets/rectengle-l.png" alt="">