<section>
    <div class="header">
        <h1><span class="primary">/</span>about-me</h1>
        <p class="gray">Who am i?</p>
    </div>
    <div class="about-me d-flex">
        <div class="about-me-text">
            <h5>Hello I'm Ulas</h5>
            <p>My interest in computers and technology led me to choose software engineering in my professional life. I
                always strive to develop myself and keep up with the latest industry trends. </p>
            <p>
                I have a responsible and
                organized approach to work. I am always driven by the goal of achieving the best. Continuous
                improvement is one of my greatest passions.
            </p>
        </div>
        <!-- br -->
        <div class="about-me-img">
            <img class="about-me-image" src="../assets/about-me.png" alt="">
        </div>
    </div>
    <div class="d-flex section-interrupt">
        <h2><span class="primary">#</span>skills</h2><img class="img-fluid" src="assets/line-primary.png" alt="">
    </div>
    <div class="skills-body">
        <div class="container">
            <div class="row">
                <!-- *ngFor loop to create cards dynamically, with responsive breakpoints -->
                <div *ngFor="let skill of skills" class="col-sm-6 col-md-4">
                    <div class="card" style="width: 100%; margin-bottom: 20px;">
                        <div class="card-body">
                            <div class="title">
                                <h6 class="card-title">{{ skill.title }}</h6>
                            </div>
                            <div class="title">
                                <p class="card-text skills-text">{{ skill.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex section-interrupt">
        <h2><span class="primary">#</span>my-fun-facts</h2><img class="img-fluid" src="assets/line-primary.png" alt="">
    </div>
    <div class="skills-body ">
        <div class="container mb-5">
            <div class="row">
                <!-- *ngFor loop to create cards dynamically, with responsive breakpoints -->
                <div *ngFor="let funfact of funfact" class="col-sm-6 col-md-4">
                    <div class="card" style="width: 100%; margin-bottom: 20px;">
                        <div class="card-body">
                            <div class="title">
                                <h6 class="card-title">{{ funfact.title }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="../assets/about-me-grp.png" alt="">
    </div>
</section>
<img class="rectengle" src="assets/rectengle-r.png" alt="">
<img class="rectengle-2" src="assets/rectengle-l.png" alt="">
<img class="rectengle-3" src="assets/frame.png" alt="">
<img class="rectengle-4" src="assets/frame.png" alt="">
<img class="rectengle-5" src="assets/rectengle-r.png" alt="">
<img class="rectengle-6" src="assets/rectengle-l.png" alt="">