<div>
    <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">Ulas Isibol</a>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="admin-dashboard">
                <div class="m-3">
                    <div class="mt-5 d-flex justify-content-center">
                        <h1 style="color: white; font-size: x-large;">HOME</h1>
                    </div>
                    <div id="homePage" class="mt-5">
                        <form class="d-block input-field" (ngSubmit)="onSubmitTitle()">
                            <h2>Home Title Paragraph</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required [(ngModel)]="newTitle"
                                    name="homeTitle">
                            </div>
                            <div class="d-flex justify-content-center button-field">
                                <button class="btn btn-warning mt-3" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                    <div class="mt-5">
                        <form class="d-block input-field" (ngSubmit)="onSubmitNewWork()">
                            <h2>Currently Working On</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required [(ngModel)]="newWork"
                                    name="newWork">
                            </div>
                            <div class="d-flex justify-content-center button-field">
                                <button class="btn btn-warning mt-3" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
                <hr style="color: aliceblue;" class="m-5">

                <div class="m-5">
                    <div class="mt-5 justify-content-center d-flex">
                        <h1 style="color: white; font-size: x-large;">Complate Apps</h1>
                    </div>
                    <div class="container mt-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Complate Apps
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="javascript:void(0);" (click)="resetForm()">New
                                        Project</a></li>
                                <li *ngFor="let project of projects" (click)="selectProject(project)">
                                    <a class="dropdown-item">{{ project.projectName }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt-5 d-block complate-apps">
                        <form #projectForm="ngForm" class="d-block">
                            <h2 class="mt-2">Card Image Link</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required
                                    [(ngModel)]="selectedProject.imageLink" name="imageLink" #imageLink="ngModel">
                                <div *ngIf="imageLink.invalid && (imageLink.dirty || imageLink.touched)"
                                    class="invalid-feedback">
                                    Image link is required.
                                </div>
                            </div>
                            <h2 class="mt-2">Card Title</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required
                                    [(ngModel)]="selectedProject.cardTitle" name="cardTitle" #cardTitle="ngModel">
                                <div *ngIf="cardTitle.invalid && (cardTitle.dirty || cardTitle.touched)"
                                    class="invalid-feedback">
                                    Card title is required.
                                </div>
                            </div>
                            <h2 class="mt-2">Project Name</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required
                                    [(ngModel)]="selectedProject.projectName" name="projectName" #projectName="ngModel">
                                <div *ngIf="projectName.invalid && (projectName.dirty || projectName.touched)"
                                    class="invalid-feedback">
                                    Project name is required.
                                </div>
                            </div>
                            <h2 class="mt-2">Project Description</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required
                                    [(ngModel)]="selectedProject.description" name="description" #description="ngModel">
                                <div *ngIf="description.invalid && (description.dirty || description.touched)"
                                    class="invalid-feedback">
                                    Project description is required.
                                </div>
                            </div>
                            <h2 class="mt-2">Live Link</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" [(ngModel)]="selectedProject.liveLink"
                                    name="liveLink" #liveLink="ngModel">
                            </div>
                            <h2 class="mt-2">Github Link</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0"
                                    [(ngModel)]="selectedProject.githubLink" name="githubLink" #githubLink="ngModel">
                            </div>
                            <div class="d-flex justify-content-center button-field button-field-card ">
                                <button class="btn btn-success m-3" type="button" (click)="addProject()"
                                    [disabled]="projectForm.invalid">Add</button>
                                <button class="btn btn-warning m-3" type="button" (click)="updateProject()"
                                    [disabled]="projectForm.invalid">Update</button>
                                <button class="btn btn-danger m-3" type="button" (click)="deleteProject()"
                                    [disabled]="projectForm.invalid">Delete</button>
                            </div>
                        </form>
                    </div>

                </div>
                <hr style="color: aliceblue;" class="m-5">
                <div class="m-5">
                    <div class="mt-5 justify-content-center d-flex">
                        <h1 style="color: white; font-size: x-large;">Small Projects</h1>
                    </div>
                    <div class="container mt-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Small Projects
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="javascript:void(0);"
                                        (click)="resetSmallProjectForm()">New Project</a></li>
                                <li *ngFor="let project of smallProjects" (click)="selectSmallProject(project)">
                                    <a class="dropdown-item" href="javascript:void(0)">{{ project.projectName }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt-5 d-block complate-apps">
                        <form #smallProjectForm="ngForm" class="d-block">
                            <h2 class="mt-2">Card Title</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required
                                    [(ngModel)]="selectedSmallProject.cardTitle" name="cardTitle" #cardTitle="ngModel">
                                <div *ngIf="cardTitle.invalid && (cardTitle.dirty || cardTitle.touched)"
                                    class="invalid-feedback">
                                    Card title is required.
                                </div>
                            </div>
                            <h2 class="mt-2">Project Name</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required
                                    [(ngModel)]="selectedSmallProject.projectName" name="projectName"
                                    #projectName="ngModel">
                                <div *ngIf="projectName.invalid && (projectName.dirty || projectName.touched)"
                                    class="invalid-feedback">
                                    Project name is required.
                                </div>
                            </div>
                            <h2 class="mt-2">Project Description</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required
                                    [(ngModel)]="selectedSmallProject.description" name="description"
                                    #description="ngModel">
                                <div *ngIf="description.invalid && (description.dirty || description.touched)"
                                    class="invalid-feedback">
                                    Project description is required.
                                </div>
                            </div>
                            <h2 class="mt-2">Github Link</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0"
                                    [(ngModel)]="selectedSmallProject.githubLink" name="githubLink"
                                    #githubLink="ngModel">
                            </div>
                            <div class="d-flex justify-content-center button-field button-field-card">
                                <button class="btn btn-success m-3" type="button" (click)="addSmallProject()"
                                    [disabled]="smallProjectForm.invalid">Add</button>
                                <button class="btn btn-warning m-3" type="button" (click)="updateSmallProject()"
                                    [disabled]="smallProjectForm.invalid">Update</button>
                                <button class="btn btn-danger m-3" type="button" (click)="deleteSmallProject()"
                                    [disabled]="smallProjectForm.invalid">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>

                <hr style="color: aliceblue;" class="m-5">
                <div class="m-5">
                    <div class="mt-5 justify-content-center d-flex">
                        <h1 style="color: white; font-size: x-large;">Skills</h1>
                    </div>
                    <div class="container mt-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Skills
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="javascript:void(0);" (click)="resetSkillForm()">New
                                        Skills</a></li>
                                <li *ngFor="let skill of skills" (click)="selectSkill(skill)">
                                    <a class="dropdown-item" href="javascript:void(0)">{{ skill.title }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt-5 d-block complate-apps">
                        <form #skillForm="ngForm" class="d-block">
                            <h2 class="mt-2">Skills Title</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required
                                    [(ngModel)]="selectedSkill.title" name="title" #title="ngModel">
                                <div *ngIf="title.invalid && (title.dirty || title.touched)" class="invalid-feedback">
                                    Skills title is required.
                                </div>
                            </div>
                            <h2 class="mt-2">Skills Description</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required
                                    [(ngModel)]="selectedSkill.description" name="description" #description="ngModel">
                                <div *ngIf="description.invalid && (description.dirty || description.touched)"
                                    class="invalid-feedback">
                                    Skills description is required.
                                </div>
                            </div>
                            <div class="d-flex justify-content-center button-field button-field-card">
                                <button class="btn btn-success m-3" type="button" (click)="addSkill()"
                                    [disabled]="skillForm.invalid">Add</button>
                                <button class="btn btn-warning m-3" type="button" (click)="updateSkill()"
                                    [disabled]="skillForm.invalid">Update</button>
                                <button class="btn btn-danger m-3" type="button" (click)="deleteSkill()"
                                    [disabled]="skillForm.invalid">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>

                <hr style="color: aliceblue;" class="m-5">
                <div class="m-5">
                    <div class="mt-5 justify-content-center d-flex">
                        <h1 style="color: white; font-size: x-large;">Fun Facts</h1>
                    </div>
                    <div class="container mt-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Fun Facts
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="javascript:void(0);" (click)="resetForm2()">New Fun
                                        Fact</a></li>
                                <li *ngFor="let fact of funFacts" (click)="selectFact(fact)">
                                    <a class="dropdown-item" href="javascript:void(0)">{{ fact.title }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt-5 d-block complete-apps">
                        <form #funFactForm="ngForm" class="d-block">
                            <h2 class="mt-2">Fun Fact</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required
                                    [(ngModel)]="selectedFact.title" name="title" #title="ngModel">
                                <div *ngIf="title.invalid && (title.dirty || title.touched)" class="invalid-feedback">
                                    Fun fact title is required.
                                </div>
                            </div>
                            <div class="d-flex justify-content-center button-field button-field-card">
                                <button class="btn btn-success m-3" type="button" (click)="addFact()"
                                    [disabled]="funFactForm.invalid">Add</button>
                                <button class="btn btn-warning m-3" type="button" (click)="updateFact()"
                                    [disabled]="funFactForm.invalid">Update</button>
                                <button class="btn btn-danger m-3" type="button" (click)="deleteFact()"
                                    [disabled]="funFactForm.invalid">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>