<div>
    <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">Ulas Isibol</a>

        <ul class="navbar-nav flex-row d-md-none">
            <li class="nav-item text-nowrap">
                <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <img src="assets/toggle.png" alt="">
                </button>
            </li>
        </ul>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
                <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
                    aria-labelledby="sidebarMenuLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="sidebarMenuLabel">Ulas Isibol</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                            data-bs-target="#sidebarMenu" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                        <h6
                            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                            <span>Home Page</span>
                        </h6>
                        <ul class="nav flex-column mb-auto">
                            <li class="nav-item">
                                <h5 class="nav-link d-flex align-items-center gap-2">
                                    Title Note
                                </h5>
                            </li>
                        </ul>
                        <hr class="my-3">
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-lg-10 ">
                <div class="m-3">
                    <div class="mt-5 d-flex justify-content-center">
                        <h1 style="color: white; font-size: x-large;">HOME</h1>
                    </div>
                    <div id="homePage" class="mt-5">
                        <form class="d-block input-field" (ngSubmit)="onSubmitTitle()">
                            <h2>Home Title Paragraph</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required [(ngModel)]="newTitle"
                                    name="homeTitle">
                            </div>
                            <div class="d-flex justify-content-center button-field">
                                <button class="btn btn-warning mt-3" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                    <div class="mt-5">
                        <form class="d-block input-field" (ngSubmit)="onSubmitNewWork()">
                            <h2>Currently Working On</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required [(ngModel)]="newWork"
                                    name="newWork">
                            </div>
                            <div class="d-flex justify-content-center button-field">
                                <button class="btn btn-warning mt-3" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
                <hr style="color: aliceblue;" class="m-5">
                <div class="m-5">
                    <div class="mt-5 justify-content-center d-flex">
                        <h1 style="color: white; font-size: x-large;">Complate Apps</h1>
                    </div>
                    <div class="container mt-3">
                        <!-- Button trigger dropdown -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Complate Apps
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">New Project</a></li>
                                <li><a class="dropdown-item" href="#">Project 1</a></li>
                                <li><a class="dropdown-item" href="#">Project 2</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt-5 d-bloc complate-apps">
                        <form class="d-block" (ngSubmit)="onSubmitTitle()">
                            <h2 class="mt-2">Card Image Link</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required [(ngModel)]="newTitle"
                                    name="homeTitle">
                            </div>
                            <h2 class="mt-2">Card Title</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required [(ngModel)]="newTitle"
                                    name="homeTitle">
                            </div>
                            <h2 class="mt-2">Project Name</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required [(ngModel)]="newTitle"
                                    name="homeTitle">
                            </div>
                            <h2 class="mt-2">Project Description</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required [(ngModel)]="newTitle"
                                    name="homeTitle">
                            </div>
                            <h2 class="mt-2">Live Link</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required [(ngModel)]="newTitle"
                                    name="homeTitle">
                            </div>
                            <h2 class="mt-2">Github Link</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required [(ngModel)]="newTitle"
                                    name="homeTitle">
                            </div>
                            <div class="d-flex justify-content-center button-field button-field-card ">
                                <button class="btn btn-success m-3" type="submit">Add</button>
                                <button class="btn btn-warning m-3" type="submit">Update</button>
                                <button class="btn btn-danger m-3" type="submit">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
                <hr style="color: aliceblue;" class="m-5">
                <div class="m-5">
                    <div class="mt-5 justify-content-center d-flex">
                        <h1 style="color: white; font-size: x-large;">Small Projects</h1>
                    </div>
                    <div class="container mt-3">
                        <!-- Button trigger dropdown -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Small Projects
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">New Project</a></li>
                                <li><a class="dropdown-item" href="#">Project 1</a></li>
                                <li><a class="dropdown-item" href="#">Project 2</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt-5 d-bloc complate-apps">
                        <form class="d-block" (ngSubmit)="onSubmitTitle()">
                            <h2 class="mt-2">Card Title</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required [(ngModel)]="newTitle"
                                    name="homeTitle">
                            </div>
                            <h2 class="mt-2">Project Name</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required [(ngModel)]="newTitle"
                                    name="homeTitle">
                            </div>
                            <h2 class="mt-2">Project Description</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required [(ngModel)]="newTitle"
                                    name="homeTitle">
                            </div>
                            <h2 class="mt-2">Github Link</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required [(ngModel)]="newTitle"
                                    name="homeTitle">
                            </div>
                            <div class="d-flex justify-content-center button-field button-field-card ">
                                <button class="btn btn-success m-3" type="submit">Add</button>
                                <button class="btn btn-warning m-3" type="submit">Update</button>
                                <button class="btn btn-danger m-3" type="submit">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
                <hr style="color: aliceblue;" class="m-5">
                <div class="m-5">
                    <div class="mt-5 justify-content-center d-flex">
                        <h1 style="color: white; font-size: x-large;">Skills</h1>
                    </div>
                    <div class="container mt-3">
                        <!-- Button trigger dropdown -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Skills
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">New Skills</a></li>
                                <li><a class="dropdown-item" href="#">Skills 1</a></li>
                                <li><a class="dropdown-item" href="#">Skills 2</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt-5 d-bloc complate-apps">
                        <form class="d-block" (ngSubmit)="onSubmitTitle()">
                            <h2 class="mt-2">Skills Title</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required [(ngModel)]="newTitle"
                                    name="homeTitle">
                            </div>
                            <h2 class="mt-2">Skills Description</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required [(ngModel)]="newTitle"
                                    name="homeTitle">
                            </div>
                            <div class="d-flex justify-content-center button-field button-field-card ">
                                <button class="btn btn-success m-3" type="submit">Add</button>
                                <button class="btn btn-warning m-3" type="submit">Update</button>
                                <button class="btn btn-danger m-3" type="submit">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
                <hr style="color: aliceblue;" class="m-5">
                <div class="m-5">
                    <div class="mt-5 justify-content-center d-flex">
                        <h1 style="color: white; font-size: x-large;">Fun Facts</h1>
                    </div>
                    <div class="container mt-3">
                        <!-- Button trigger dropdown -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Fun Facts
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">New Fun Facts</a></li>
                                <li><a class="dropdown-item" href="#">Fun Facts 1</a></li>
                                <li><a class="dropdown-item" href="#">Fun Facts 2</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt-5 d-bloc complate-apps">
                        <form class="d-block" (ngSubmit)="onSubmitTitle()">
                            <h2 class="mt-2">Fun Fact</h2>
                            <div class="form-floating">
                                <input type="text" class="form-control pt-0 pb-0" required [(ngModel)]="newTitle"
                                    name="homeTitle">
                            </div>
                            <div class="d-flex justify-content-center button-field button-field-card ">
                                <button class="btn btn-success m-3" type="submit">Add</button>
                                <button class="btn btn-warning m-3" type="submit">Update</button>
                                <button class="btn btn-danger m-3" type="submit">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>