<div class="d-flex align-items-center py-4">

    <main class="form-signin w-100 m-auto">
        <form (ngSubmit)="onSubmit()">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="username" name="username"
                    required>
                <label for="floatingInput">Admin</label>
            </div>
            <div class="form-floating mt-3">
                <input type="password" class="form-control" required id="floatingPassword" [(ngModel)]="password"
                    name="password">
                <label for="floatingPassword">Password</label>
            </div>

            <button class="btn btn-dark w-100 py-2" type="submit">Sign in</button>
        </form>
    </main>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</div>