<section>
    <div class="header">
        <h1><span class="primary">/</span>contact-me</h1>
        <p class="gray">Contact information!</p>
    </div>
    <div class="contact">
        <div class="contact-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dolorem recusandae, deserunt quae vel
                aliquid qui impedit? Iste illo, quia, dolorem sapiente iusto eaque sed qui odio voluptatem sequi fuga!
            </p>
        </div>
        <div class="contact-box-box">
            <div class="contact-box">
                <h6><span class="primary">#</span>message-me-here</h6>
                <div class="contact-option">
                    <img src="/assets/email.png" alt="email">
                    <h4>ulasisbl&#64;gmail.com</h4>
                </div>
            </div>
            <div class="contact-box">
                <h6><span class="primary">#</span>message-me-here</h6>
                <div class="contact-option">
                    <img src="/assets/email.png" alt="email">
                    <h4>ulasisbl&#64;gmail.com</h4>
                </div>
            </div>
        </div>
    </div>


    <div class="d-flex section-interrupt">
        <h2><span class="primary">#</span>all-media</h2>
    </div>

    <div class="all-media d-flex">
        <a href="#" class="d-flex m-2"><img src="assets/linkedin.png" alt="12">
            <h5>linkedln</h5>
        </a>
        <a href="#" class="d-flex m-2"><img src="assets/linkedin.png" alt="12">
            <h5>linkedln</h5>
        </a>

    </div>
</section>
<img class="b-rectengle" src="assets/big-rectengle.png" alt="">
<img class="rectengle" src="assets/rectengle-l.png" alt="">