<section class="first-section">
  <div class="home-page">
    <div>
      <h1>I’m a <span class="primary">web designer</span> and <span class="primary">full-stack</span> web
        developer</h1>
      <p class="gray mt-3" [innerText]="homeParagraph">He crafts responsive websites where technologies meet creativity
      </p>
      <br>
      <a href="" class="btn ">Contact me!!</a>
    </div>

    <div class="img">
      <img src="/assets/home.png" class="img-fluid" alt="">
      <div class="currently-part">
        <span class="cube"></span><a class="" href="#">Currently working on <span [innerText]="newWork"></span></a>
      </div>
    </div>
  </div>
  <img class="rectengle" src="assets/rectengle-r.png" alt="">
</section>
<section class="intermediate-section">
  <div><img class="img-fluid" src="assets/quote.png" alt=""></div>
</section>
<img class="rectengle-l" src="assets/rectengle-l.png" alt="">
<img class="frame-r" src="assets/frame.png" alt="">


<section class="second-section">
  <h2 class=""><span class="primary">#</span>last-project <img class="img-fluid" src="assets/line-primary.png" alt="">
    <a href="#">View All ~~></a>
  </h2>
  <div class="projects">
    <div class="card" style="width: 18rem;">
      <img src="/assets/project-image.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="title">
          <h6 class="card-title">Card title</h6>
        </div>
        <div class="title">
          <h5>Project Name</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="buttons">
            <a href="#" class="btn btn-primary live">Live <~></a>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-2" style="width: 18rem;">
      <img src="/assets/project-image.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="title">
          <h6 class="card-title">Card title</h6>
        </div>
        <div class="title">
          <h5>Project Name</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="buttons">
            <a href="#" class="btn btn-primary live">Live <~></a>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-3" style="width: 18rem;">
      <img src="/assets/project-image.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="title">
          <h6 class="card-title">Card title</h6>
        </div>
        <div class="title">
          <h5>Project Name</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="buttons">
            <a href="#" class="btn btn-primary live">Live <~></a>
            <a href="#" class="btn btn-primary github">Github <~></a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <h2 class=""><span class="primary">#</span>skills <img class="img-fluid" src="assets/line-primary.png" alt="">
  </h2>
  <div class="skills-body">
    <img class="" src="/assets/skills.png" alt="skills png">

    <div class="skills-boxes">
      <div class="card-group">
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <div class="title">
              <h6 class="card-title">Languages</h6>
            </div>
            <div class="title">
              <p class="card-text skills-text">HTML, CSS, JS, BOOTSTRAP, JAVA, SPRİNG-BOOT, ANGULAR, REACT ?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <div class="title">
              <h6 class="card-title">Languages</h6>
            </div>
            <div class="title">
              <p class="card-text skills-text">HTML, CSS, JS, BOOTSTRAP, JAVA, SPRİNG-BOOT, ANGULAR, REACT</p>
            </div>
          </div>
        </div>
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <div class="title">
              <h6 class="card-title">Languages</h6>
            </div>
            <div class="title">
              <p class="card-text skills-text">HTML, CSS, JS, BOOTSTRAP, JAVA, SPRİNG-BOOT, ANGULAR, REACT,CSS, JS,
                BOOTSTRAP, JAVA, SPRİNG-BOOT, ANGULAR, REACT</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <div class="title">
              <h6 class="card-title">Languages</h6>
            </div>
            <div class="title">
              <p class="card-text skills-text">HTML, CSS, JS, BOOTSTRAP, JAVA, SPRİNG-BOOT, ANGULAR, REACT</p>
            </div>
          </div>
        </div>
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <div class="title">
              <h6 class="card-title">Languages</h6>
            </div>
            <div class="title">
              <p class="card-text skills-text">HTML, CSS, JS, BOOTSTRAP, JAVA, SPRİNG-BOOT, ANGULAR, REACT</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2 class=""><span class="primary">#</span>about-me <img class="img-fluid" src="assets/line-primary.png" alt="">
  </h2>
  <div class="about-me">
    <div class="about-me-text">
      <h5>Hello I'm Ulas</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dicta voluptates obcaecati natus velit nihil nemo
        distinctio laborum, ipsa veritatis omnis ex porro culpa nisi harum magni saepe odio, dolores animi aliquid
        !</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dicta voluptates obcaecati natus velit nihil nemo
        distinctio laborum, ipsa veritatis omnis ex porro culpa nisi harum magni saepe odio, dolores animi aliquid
        !
      </p>
      <a href="#" class="btn live">Read More ~></a>
    </div>
    <!-- br -->
    <div class="about-me-img">
      <img src="/assets/about-me.png" alt="">
    </div>
  </div>
  <h2 class=""><span class="primary">#</span>contacts <img class="img-fluid" src="assets/line-primary.png" alt="">
  </h2>

  <div class="contact">
    <div class="contact-text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dolorem recusandae, deserunt quae vel
        aliquid qui impedit? Iste illo, quia, dolorem sapiente iusto eaque sed qui odio voluptatem sequi fuga!</p>
    </div>
    <div class="contact-box-box">
      <div class="contact-box">
        <h6><span class="primary">#</span>message-me-here</h6>
        <div class="contact-option">
          <img src="/assets/email.png" alt="email">
          <h4>ulasisbl&#64;gmail.com</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<img class="frame" src="assets/frame.png" alt="">