<section class="first-section">
  <div class="home-page">
    <div>
      <h1>I’m a <span class="primary">web designer</span> and <span class="primary">full-stack</span> web
        developer</h1>
      <p class="gray mt-3" [innerText]="homeParagraph">He crafts responsive websites where technologies meet creativity
      </p>
      <br>
      <a href="" class="btn ">Contact me!!</a>
    </div>

    <div class="img">
      <img src="/assets/home.png" class="img-fluid" alt="">
      <div class="currently-part">
        <span class="cube"></span><a class="" href="#">Currently working on <span [innerText]="newWork"></span></a>
      </div>
    </div>
  </div>
  <img class="rectengle" src="assets/rectengle-r.png" alt="">
</section>
<section class="intermediate-section">
  <div><img class="img-fluid" src="assets/quote.png" alt=""></div>
</section>
<img class="rectengle-l" src="assets/rectengle-l.png" alt="">
<img class="frame-r" src="assets/frame.png" alt="">


<section class="second-section">
  <h2 class=""><span class="primary">#</span>last-project <img class="img-fluid" src="assets/line-primary.png" alt="">
    <a href="#">View All ~~></a>
  </h2>

  <div class="projects">
    <div class="card" style="width: 18rem;" *ngFor="let project of recentProjects">
      <img [src]="project.imageLink || '/assets/project-image.jpg'" class="card-img-top" alt="Project Image">
      <div class="card-body">
        <div class="title">
          <h6 class="card-title">{{ project.cardTitle }}</h6>
        </div>
        <div class="title">
          <h5>{{ project.projectName }}</h5>
          <p class="card-text">{{ project.description }}</p>
          <div class="buttons">
            <a *ngIf="project.liveLink" href="{{ project.liveLink }}" class="btn btn-primary live">Live <~></a>
            <a *ngIf="project.githubLink" href="{{ project.githubLink }}" class="btn btn-primary github">Github <~></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class=""><span class="primary">#</span>skills <img class="img-fluid" src="assets/line-primary.png" alt="">
  </h2>
  <div class="skills-body">
    <img class="" src="/assets/skills.png" alt="skills png">

    <div class="container">
      <div class="row">
        <!-- *ngFor loop to create cards dynamically, with responsive breakpoints -->
        <div *ngFor="let skill of skills" class="col-sm-6 col-md-4">
          <div class="card" style="width: 100%; margin-bottom: 20px;">
            <div class="card-body">
              <div class="title">
                <h6 class="card-title">{{ skill.title }}</h6>
              </div>
              <div class="title">
                <p class="card-text skills-text">{{ skill.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2 class=""><span class="primary">#</span>about-me <img class="img-fluid" src="assets/line-primary.png" alt="">
  </h2>
  <div class="about-me">
    <div class="about-me-text">
      <h5>Hello I'm Ulas</h5>
      <p>My interest in computers and technology led me to choose software engineering in my professional life. I
        always strive to develop myself and keep up with the latest industry trends. </p>
      <p>
        I have a responsible and
        organized approach to work. I am always driven by the goal of achieving the best. Continuous
        improvement is one of my greatest passions.
      </p>
      <a href="#" class="btn live">Read More ~></a>
    </div>
    <!-- br -->
    <div class="about-me-img">
      <img src="/assets/about-me.png" alt="">
    </div>
  </div>
  <h2 class=""><span class="primary">#</span>contacts <img class="img-fluid" src="assets/line-primary.png" alt="">
  </h2>

  <div class="contact">
    <div class="contact-text">
      <p>Feel free to reach out if you'd like to connect, have any questions about my work, or are interested in
        potential collaborations. Whether you're curious about a specific project, looking to discuss software
        development trends, or simply want to network, I'm always open to engaging conversations and new opportunities.
      </p>
    </div>
    <div class="contact-box-box">
      <div class="contact-box">
        <h6><span class="primary">#</span>message-me-here</h6>
        <div class="contact-option">
          <img src="/assets/email.png" alt="email">
          <h4><a style="color: whitesmoke; text-decoration: none; margin-left: 7px;"
              href="mailto:ulasisbl@gmail.com">ulasisbl&#64;gmail.com</a></h4>
        </div>
        <div class="contact-option">
          <img src="/assets/linkedin.png" alt="LinkedIn">
          <h4 style="width: -webkit-fill-available;"><a
              style="color: whitesmoke; text-decoration: none; margin-left: 7px;"
              href="https://www.linkedin.com/in/ula%C5%9F-i%C5%9Fibol-39220a270/" target="_blank">Ulaş İşibol</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
<img class="frame" src="assets/frame.png" alt="">