nav{
    background-color: #282C33 !important;
    font-size: 14px;
}
.primary{
    color: #C778DD  !important;
}
.active{
    color: white  !important;
}
.gray{
  color: #ABB2BF !important ;  
}

.navbar-toggler-icon{
    background-image: url("/assets/toggle.png");
}
.navbar-toggler{
    border: none;
}
.navbar-brand{
    font-size: medium;
    img{
        width: 21px;
        height: 21px;
    }
    
}
.right{
    margin-left: 3%;
}
@media (min-width: 992px) {
    .right{
        margin-left: 40%;
    }
    .navbar-brand{
        margin-left: 10%;
    }
}