<div class="social-part fixed-top">
  <div class="line"><img src="/assets/line.png" alt=""></div>
  <div class="line-g "><a href="https://github.com/ulasisibol"><img src="/assets/github.png" alt=""></a></div>
  <div class="line-i"><a href="https://www.linkedin.com/in/ula%C5%9F-i%C5%9Fibol-39220a270/"><img src="/assets/linkedin.png" alt=""></a></div>
</div>
<nav class="fixed-top navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand active" href="#"><img src="/assets/logo.png" alt=""> Ulas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse right" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><span class="primary">#</span>home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link gray" href="#"><span class="primary">#</span>works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link gray" href="#"><span class="primary">#</span>about-me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link gray" href="#"><span class="primary">#</span>contact</a>
          </li>
          <li class="nav-item last-item">
            <a class="nav-link last gray" href="#"><img src="assets/github.png" alt=""></a>
            <a class="nav-link last gray" href="#"><img src="assets/linkedin.png" alt=""></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  